.card {
  border: 1px solid white;
  margin: 10px 0px 100px 0px;
  position: relative;
  background-color: $color_dark;
  color: $color_light;
  padding: 70px 20px 0 20px;
  border-radius: 20px;
  @include respond-above(md) {
    min-height: 450px;
    margin: 10px 0px 100px 0px !important;
  }
  border-radius: 20px;

  h1 {
    text-align: center;
    font-weight: 600;
    color: $color_lightest;
  }

  p {
    font-size: 20px;
  }
  .top {
    background-color: $color_light;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 70%);
    border-radius: 50%;
    @include flecCenter;
    color: $color_dark;

    svg{
        width:50%;
        height: auto;
    }
  }

  @include respond-above(sm) {
    margin: 100px 0px 100px 0px;
    .top {
      transform: translate(-50%, 150%);
    }
  }
}
