.card {
  border: 1px solid white;
  margin: 10px 0px 100px 0px;
  position: relative;
  background-color: $color_dark;
  color: $color_light;
  padding: 56px 20px 0 20px ;
  border-radius: 20px;
  h1{
    text-align: center;
    font-weight: 600;
    color: $color_lightest;
  }

  p{
    font-size: 20px;
  }
  .top {
    background-color: $color_light;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 100%);
    border-radius: 50%;
}


@include respond-above(sm){
    margin: 100px 0px 100px 0px;
    .top{
      transform: translate(-50%, 150%);

  }
  }
}
