.banner {
  color: white;
  button {
    font-size: 25px;
  }
  .banner_wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    P {
      font-weight: 500 !important;
    }
  }
  .banner_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    text-align: center;
    .brand {
      // align-items: center;

      h1 {
        font-size: 60px;
      }

      * {
        margin: 0;
      }

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        hr {
          height: 1px;
          background-color: white;
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  @include respond-below(lg) {
    .banner_wrapper {
      display: initial;

      .banner_logo {
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 100%;
        }
      }
    }
  }

  background: linear-gradient(270deg, #322653, #8062d6);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
